@import "tailwindcss";

@property --border-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}

@theme{
  --font-sans: "Inter", "sans-serif";
  --text-xxs: 0.625rem;
  --animate-border: border 2s linear infinite; 

  @keyframes border {
    to {
      --border-angle: 360deg;
    }
  }
}

